'.text.html, .text.css, .source.js':
  'editor':
    'completions': [

      # type
      'h1'
      'h2'
      'h3'
      'h4'
      'h5'
      'h6'
      'lead'
      'display-1'
      'display-2'
      'display-3'
      'display-4'
      'small'
      'mark'
      'list-unstyled'
      'list-inline'
      'list-inline-item'
      'dl-horizontal'
      'initialism'
      'blockquote'
      'blockquote-footer'
      'blockquote-reverse'

      # images
      'img-fluid'
      'carousel-inner'
      'carousel-item'
      'img-rounded'
      'img-thumbnail'
      'img-circle'
      'figure'
      'figure-img'
      'figure-caption'

      # code
      'pre-scrollable'

      # grid
      'container'
      'container-fluid'
      'row'
      'col-xs-1'
      'col-xs-2'
      'col-xs-3'
      'col-xs-4'
      'col-xs-5'
      'col-xs-6'
      'col-xs-7'
      'col-xs-8'
      'col-xs-9'
      'col-xs-10'
      'col-xs-11'
      'col-xs-12'
      'col-sm-1'
      'col-sm-2'
      'col-sm-3'
      'col-sm-4'
      'col-sm-5'
      'col-sm-6'
      'col-sm-7'
      'col-sm-8'
      'col-sm-9'
      'col-sm-10'
      'col-sm-11'
      'col-sm-12'
      'col-md-1'
      'col-md-2'
      'col-md-3'
      'col-md-4'
      'col-md-5'
      'col-md-6'
      'col-md-7'
      'col-md-8'
      'col-md-9'
      'col-md-10'
      'col-md-11'
      'col-md-12'
      'col-lg-1'
      'col-lg-2'
      'col-lg-3'
      'col-lg-4'
      'col-lg-5'
      'col-lg-6'
      'col-lg-7'
      'col-lg-8'
      'col-lg-9'
      'col-lg-10'
      'col-lg-11'
      'col-lg-12'
      'col-xl-1'
      'col-xl-2'
      'col-xl-3'
      'col-xl-4'
      'col-xl-5'
      'col-xl-6'
      'col-xl-7'
      'col-xl-8'
      'col-xl-9'
      'col-xl-10'
      'col-xl-11'
      'col-xl-12'
      'col-xs-pull-0'
      'col-xs-pull-1'
      'col-xs-pull-2'
      'col-xs-pull-3'
      'col-xs-pull-4'
      'col-xs-pull-5'
      'col-xs-pull-6'
      'col-xs-pull-7'
      'col-xs-pull-8'
      'col-xs-pull-9'
      'col-xs-pull-10'
      'col-xs-pull-11'
      'col-xs-pull-12'
      'col-xs-push-0'
      'col-xs-push-1'
      'col-xs-push-2'
      'col-xs-push-3'
      'col-xs-push-4'
      'col-xs-push-5'
      'col-xs-push-6'
      'col-xs-push-7'
      'col-xs-push-8'
      'col-xs-push-9'
      'col-xs-push-10'
      'col-xs-push-11'
      'col-xs-push-12'
      'col-xs-offset-0'
      'col-xs-offset-1'
      'col-xs-offset-2'
      'col-xs-offset-3'
      'col-xs-offset-4'
      'col-xs-offset-5'
      'col-xs-offset-6'
      'col-xs-offset-7'
      'col-xs-offset-8'
      'col-xs-offset-9'
      'col-xs-offset-10'
      'col-xs-offset-11'
      'col-xs-offset-12'
      'col-sm-pull-0'
      'col-sm-pull-1'
      'col-sm-pull-2'
      'col-sm-pull-3'
      'col-sm-pull-4'
      'col-sm-pull-5'
      'col-sm-pull-6'
      'col-sm-pull-7'
      'col-sm-pull-8'
      'col-sm-pull-9'
      'col-sm-pull-10'
      'col-sm-pull-11'
      'col-sm-pull-12'
      'col-sm-push-0'
      'col-sm-push-1'
      'col-sm-push-2'
      'col-sm-push-3'
      'col-sm-push-4'
      'col-sm-push-5'
      'col-sm-push-6'
      'col-sm-push-7'
      'col-sm-push-8'
      'col-sm-push-9'
      'col-sm-push-10'
      'col-sm-push-11'
      'col-sm-push-12'
      'col-sm-offset-0'
      'col-sm-offset-1'
      'col-sm-offset-2'
      'col-sm-offset-3'
      'col-sm-offset-4'
      'col-sm-offset-5'
      'col-sm-offset-6'
      'col-sm-offset-7'
      'col-sm-offset-8'
      'col-sm-offset-9'
      'col-sm-offset-10'
      'col-sm-offset-11'
      'col-sm-offset-12'
      'col-md-pull-0'
      'col-md-pull-1'
      'col-md-pull-2'
      'col-md-pull-3'
      'col-md-pull-4'
      'col-md-pull-5'
      'col-md-pull-6'
      'col-md-pull-7'
      'col-md-pull-8'
      'col-md-pull-9'
      'col-md-pull-10'
      'col-md-pull-11'
      'col-md-pull-12'
      'col-md-push-0'
      'col-md-push-1'
      'col-md-push-2'
      'col-md-push-3'
      'col-md-push-4'
      'col-md-push-5'
      'col-md-push-6'
      'col-md-push-7'
      'col-md-push-8'
      'col-md-push-9'
      'col-md-push-10'
      'col-md-push-11'
      'col-md-push-12'
      'col-md-offset-0'
      'col-md-offset-1'
      'col-md-offset-2'
      'col-md-offset-3'
      'col-md-offset-4'
      'col-md-offset-5'
      'col-md-offset-6'
      'col-md-offset-7'
      'col-md-offset-8'
      'col-md-offset-9'
      'col-md-offset-10'
      'col-md-offset-11'
      'col-md-offset-12'
      'col-lg-pull-0'
      'col-lg-pull-1'
      'col-lg-pull-2'
      'col-lg-pull-3'
      'col-lg-pull-4'
      'col-lg-pull-5'
      'col-lg-pull-6'
      'col-lg-pull-7'
      'col-lg-pull-8'
      'col-lg-pull-9'
      'col-lg-pull-10'
      'col-lg-pull-11'
      'col-lg-pull-12'
      'col-lg-push-0'
      'col-lg-push-1'
      'col-lg-push-2'
      'col-lg-push-3'
      'col-lg-push-4'
      'col-lg-push-5'
      'col-lg-push-6'
      'col-lg-push-7'
      'col-lg-push-8'
      'col-lg-push-9'
      'col-lg-push-10'
      'col-lg-push-11'
      'col-lg-push-12'
      'col-lg-offset-0'
      'col-lg-offset-1'
      'col-lg-offset-2'
      'col-lg-offset-3'
      'col-lg-offset-4'
      'col-lg-offset-5'
      'col-lg-offset-6'
      'col-lg-offset-7'
      'col-lg-offset-8'
      'col-lg-offset-9'
      'col-lg-offset-10'
      'col-lg-offset-11'
      'col-lg-offset-12'
      'col-xl-pull-0'
      'col-xl-pull-1'
      'col-xl-pull-2'
      'col-xl-pull-3'
      'col-xl-pull-4'
      'col-xl-pull-5'
      'col-xl-pull-6'
      'col-xl-pull-7'
      'col-xl-pull-8'
      'col-xl-pull-9'
      'col-xl-pull-10'
      'col-xl-pull-11'
      'col-xl-pull-12'
      'col-xl-push-0'
      'col-xl-push-1'
      'col-xl-push-2'
      'col-xl-push-3'
      'col-xl-push-4'
      'col-xl-push-5'
      'col-xl-push-6'
      'col-xl-push-7'
      'col-xl-push-8'
      'col-xl-push-9'
      'col-xl-push-10'
      'col-xl-push-11'
      'col-xl-push-12'
      'col-xl-offset-0'
      'col-xl-offset-1'
      'col-xl-offset-2'
      'col-xl-offset-3'
      'col-xl-offset-4'
      'col-xl-offset-5'
      'col-xl-offset-6'
      'col-xl-offset-7'
      'col-xl-offset-8'
      'col-xl-offset-9'
      'col-xl-offset-10'
      'col-xl-offset-11'
      'col-xl-offset-12'

      # tables
      'table'
      'table-sm'
      'table-bordered'
      'table-striped'
      'table-hover'
      'table-active'
      'table-success'
      'table-info'
      'table-warning'
      'table-danger'
      'table-responsive'
      'thead-inverse'
      'thead-default'
      'table-inverse'
      'table-reflow'

      # forms
      'form-control'
      'form-control-file'
      'form-control-range'
      'form-control-label'
      'input-sm'
      'input-group-sm'
      'input-lg'
      'input-group-lg'
      'form-control-static'
      'form-control-sm'
      'input-group-addon'
      'input-group-btn'
      'form-control-lg'
      'form-group'
      'radio'
      'checkbox'
      'radio-inline'
      'checkbox-inline'
      'disabled'
      'form-control-success'
      'form-control-warning'
      'form-control-danger'
      'has-success'
      'text-help'
      'form-control-feedback'
      'has-warning'
      'has-danger'
      'form-inline'
      'input-group'
      'has-feedback'
      'focus'
      'active'

      # buttons
      'btn'
      'btn-primary'
      'open'
      'dropdown-toggle'
      'btn-secondary'
      'btn-info'
      'btn-success'
      'btn-warning'
      'btn-danger'
      'btn-outline-primary'
      'btn-outline-secondary'
      'btn-outline-info'
      'btn-outline-success'
      'btn-outline-warning'
      'btn-outline-danger'
      'btn-link'
      'btn-lg'
      'btn-sm'
      'btn-block'

      # btn-group
      'btn-group'
      'btn-group-vertical'
      'btn-group-sm'
      'btn-group-lg'
      'btn-toolbar'
      'caret'

      # animation
      'fade'
      'in'
      'collapse'
      'collapsing'

      # dropdown
      'dropup'
      'dropdown'
      'dropdown-menu'
      'dropdown-divider'
      'dropdown-item'
      'dropdown-menu-right'
      'dropdown-menu-left'
      'dropdown-header'
      'dropdown-backdrop'
      'pull-right'
      'dropdown-toggle'

      # custom-forms
      'c-input'
      'c-indicator'
      'c-checkbox'
      'c-radio'
      'c-inputs-stacked'
      'c-select'
      'c-select-sm'
      'file'
      'file-custom'

      # nav
      'nav'
      'nav-link'
      'nav-inline'
      'nav-item'
      'nav-tabs'
      'nav-pills'
      'nav-stacked'
      'tab-content'
      'tab-pane'

      # navbar
      'navbar'
      'navbar-full'
      'navbar-fixed-top'
      'navbar-fixed-bottom'
      'navbar-sticky-top'
      'navbar-brand'
      'navbar-divider'
      'navbar-toggler'
      'navbar-toggleable-xs'
      'navbar-toggleable-sm'
      'navbar-toggleable-md'
      'navbar-nav'
      'navbar-light'
      'navbar-dark'

      # card
      'card'
      'card-block'
      'card-title'
      'card-subtitle'
      'card-text'
      'card-link'
      'card-header'
      'card-footer'
      'card-primary'
      'card-success'
      'card-info'
      'card-warning'
      'card-danger'
      'card-outline-primary'
      'card-outline-secondary'
      'card-outline-info'
      'card-outline-success'
      'card-outline-warning'
      'card-outline-danger'
      'card-inverse'
      'card-blockquote'
      'card-img'
      'card-img-overlay'
      'card-img-top'
      'card-img-bottom'
      'card-deck'
      'card-deck-wrapper'
      'card-group'
      'card-columns'

      # breadcrumb
      'breadcrumb'

      # pagination
      'pagination'
      'page-item'
      'page-link'
      'pagination-lg'
      'pagination-sm'

      # pager
      'pager'
      'pager-next'
      'pager-prev'

      # label
      'label'
      'label-pill'
      'label-default'
      'label-primary'
      'label-success'
      'label-info'
      'label-warning'
      'label-danger'

      # jumbotron
      'jumbotron'
      'jumbotron-hr'
      'jumbotron-fluid'

      # alert
      'alert'
      'alert-heading'
      'alert-link'
      'alert-dismissible'
      'close'
      'alert-success'
      'alert-info'
      'alert-warning'
      'alert-danger'

      # progress
      'progress'
      'progress-bar'
      'progress-striped'
      'progress-bar-striped'
      'progress-animated'
      'progress-success'
      'progress-info'
      'progress-warning'
      'progress-danger'

      # media
      'media'
      'media-body'
      'media-left'
      'media-right'
      'media-middle'
      'media-bottom'
      'media-object'
      'media-heading'
      'media-list'

      # list-group
      'list-group'
      'list-group-item'
      'list-group-flush'
      'list-group-item-heading'
      'list-group-item-text'
      'list-group-item-success'
      'list-group-item-info'
      'list-group-item-warning'
      'list-group-item-danger'

      # responsive-embed
      'embed-responsive'
      'embed-responsive-item'
      'embed-responsive-21by9'
      'embed-responsive-16by9'
      'embed-responsive-4by3'
      'embed-responsive-1by1'

      # modal
      'modal-open'
      'modal'
      'modal-dialog'
      'modal-content'
      'modal-backdrop'
      'modal-header'
      'modal-title'
      'modal-body'
      'modal-footer'
      'modal-scrollbar-measure'
      'modal-sm'
      'modal-lg'

      # tooltip
      'tooltip'
      'tooltip-top'
      'bs-tether-element-attached-bottom'
      'tooltip-arrow'
      'tooltip-right'
      'bs-tether-element-attached-left'
      'tooltip-bottom'
      'bs-tether-element-attached-top'
      'tooltip-left'
      'bs-tether-element-attached-right'
      'tooltip-inner'

      # popover
      'popover'
      'popover-top'
      'popover-arrow'
      'popover-right'
      'popover-bottom'
      'popover-left'
      'popover-title'
      'popover-content'

      # carousel
      'carousel'
      'next'
      'right'
      'prev'
      'left'
      'carousel-control'
      'icon-prev'
      'icon-next'
      'carousel-indicators'
      'carousel-caption'

      # utilities
      'clearfix'
      'center-block'
      'pull-xs-left'
      'pull-xs-right'
      'pull-xs-none'
      'pull-sm-left'
      'pull-sm-right'
      'pull-sm-none'
      'pull-md-left'
      'pull-md-right'
      'pull-md-none'
      'pull-lg-left'
      'pull-lg-right'
      'pull-lg-none'
      'pull-xl-left'
      'pull-xl-right'
      'pull-xl-none'
      'sr-only'
      'sr-only-focusable'
      'invisible'
      'text-hide'
      'text-justify'
      'text-nowrap'
      'text-truncate'
      'text-xs-left'
      'text-xs-right'
      'text-xs-center'
      'text-sm-left'
      'text-sm-right'
      'text-sm-center'
      'text-md-left'
      'text-md-right'
      'text-md-center'
      'text-lg-left'
      'text-lg-right'
      'text-lg-center'
      'text-xl-left'
      'text-xl-right'
      'text-xl-center'
      'text-lowercase'
      'text-uppercase'
      'text-capitalize'
      'font-weight-normal'
      'font-weight-bold'
      'font-italic'
      'text-muted'
      'text-primary'
      'text-success'
      'text-info'
      'text-warning'
      'text-danger'

      # utilities-background
      'bg-inverse'
      'bg-faded'
      'bg-primary'
      'bg-success'
      'bg-info'
      'bg-warning'
      'bg-danger'

      # utilities-responsive
      'm-x-auto'
      'm-a-0'
      'm-t-0'
      'm-r-0'
      'm-b-0'
      'm-l-0'
      'm-x-0'
      'm-y-0'
      'm-a-1'
      'm-t-1'
      'm-r-1'
      'm-b-1'
      'm-l-1'
      'm-x-1'
      'm-y-1'
      'm-a-2'
      'm-t-2'
      'm-r-2'
      'm-b-2'
      'm-l-2'
      'm-x-2'
      'm-y-2'
      'm-a-3'
      'm-t-3'
      'm-r-3'
      'm-b-3'
      'm-l-3'
      'm-x-3'
      'm-y-3'
      'p-a-0'
      'p-t-0'
      'p-r-0'
      'p-b-0'
      'p-l-0'
      'p-x-0'
      'p-y-0'
      'p-a-1'
      'p-t-1'
      'p-r-1'
      'p-b-1'
      'p-l-1'
      'p-x-1'
      'p-y-1'
      'p-a-2'
      'p-t-2'
      'p-r-2'
      'p-b-2'
      'p-l-2'
      'p-x-2'
      'p-y-2'
      'p-a-3'
      'p-t-3'
      'p-r-3'
      'p-b-3'
      'p-l-3'
      'p-x-3'
      'p-y-3'
      'pos-f-t'
      'hidden-xs-up'
      'hidden-xs-down'
      'hidden-sm-up'
      'hidden-sm-down'
      'hidden-md-up'
      'hidden-md-down'
      'hidden-lg-up'
      'hidden-lg-down'
      'hidden-xl-up'
      'hidden-xl-down'
      'visible-print-block'
      'visible-print-inline'
      'visible-print-inline-block'
      'hidden-print'
    ]
